dist/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

src/assets/node-qrcode
.npmrc

www/*

android/.gradle/
android/app/src/main/assets/public/
android/app/build/

ios/DerivedData/
ios/App/App/public/
ios/App/DerivedData/
ios/App/App.xcodeproj/xcuserdata/

loader/
